* {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 9fr;
}

.header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.main {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.sidebar {
  border-right: 1px solid black;
}

.content {
  display: grid;
  grid-template-rows: 1fr 6fr;
}

.content-nav {
  border-bottom: 1px solid black;
}

.page {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(3, minmax(150px, 1fr));
  gap: 25px;
}

.book {
  border: 1px solid black;
}

.newBookPopup {
  position: relative;
  text-align: center;
  width: 100%;
}

.formPopup {
  display: none;
  position: fixed;
  left: 50%;
  top: 15%;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
}

.formContainer {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputContainer {
  display: flex;
}

fieldset {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}