* {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 9fr;
}

.header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.main {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.sidebar {
  border-right: 1px solid black;
}